body {
  background: #f5f6f8;
}
main {
  margin-top: 2rem;
  padding: 1rem 5rem;
}
.tabs {
  border-bottom: 1px solid #363435;
  display: flex;
  gap: 2rem;

  .tab {
    position: relative;
    height: 2rem;
    width: 8rem;

    span {
      position: absolute;
      bottom: -1px;
      background: #f5f6f8;
      padding: 1rem;
      padding-right: 3rem;
      border: 1px solid #363435;
      border-bottom: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  .red {
    color: var(--prim-c);
  }
}

p.heading {
  margin-top: 2rem;
  font-size: 30px;
  font-weight: 300;
  color: var(--sec-t-c);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    label {
      color: var(--prim-t-c);
    }
    input {
      width: 100%;
      padding: 8px 12px;
      border: 1px solid #dbdcde;
      border-radius: 8px;
      background-color: #f4f5f9;
    }
  }
}

.image-div {
  display: flex;
  padding: 2rem;
}

.image-upload {
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
  border: 2px dashed #dbdcde;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--text-c-light);
}

.image-upload label {
  color: var(--prim-t-c);
  font-size: 16px;
}

.image-upload .custom-upload {
  /* display: inline-block; */
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: url("../assets/Mask\ group.png") center/cover no-repeat;
  border-radius: 8px;
}

.image-upload input[type="file"] {
  display: none;
}

.drop span {
  color: var(--prim-c);
}

form button {
  align-self: flex-start;
  width: 100px;
}

@media screen and (max-width: 480px) {
  main {
    padding: 2rem;
  }
}
